@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

.dark {
	.hljs {
		background: whitesmoke;
	}
}

.light {
	.hljs {
		background: #131313;
	}
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: 1rem;
	border-radius: 0.25rem;
}
.hljs,
.hljs-subst {
	color: #2bff00af;
}
.hljs-comment {
	color: #929292;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
	@apply text-purple-500;
	font-weight: 700;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
	@apply text-purple-500;
}
.hljs-section,
.hljs-title {
	@apply text-yellow-400;
	font-weight: 700;
}
.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
	@apply text-yellow-400;
}
.hljs-literal {
	@apply text-green-500;
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
	@apply text-green-500;
}
.hljs-meta {
	@apply text-indigo-500;
}
.hljs-meta-string {
	@apply text-blue-500;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: 700;
}
